#footer {
  padding: 0 40px;
  margin-bottom: 274px;
  .main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

    .text {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        font-family: sans-serif;
        color: rgb(64, 67, 71);
      }
    }
  }
}
